@model AlpineNeeds.Models.OrderSummaryViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="card">
    <div class="card-header">
        <strong>@Localizer["Order Summary"]</strong>
    </div>
    <div class="card-body">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">@Localizer["Subtotal"]</h6>
                </div>
                <span>@Model.Subtotal.ToBgCurrency()</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">@Localizer["Shipping"]</h6>
                </div>
                <span>@Model.Shipping.ToBgCurrency()</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">@Localizer["Tax"]</h6>
                </div>
                <span>@Model.Tax.ToBgCurrency()</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Total"]</span>
                <strong>@Model.Total.ToBgCurrency()</strong>
            </li>
        </ul>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">@Localizer["Continue to Payment"]</button>
            <a asp-page="/Cart" class="btn btn-link">@Localizer["Return to Cart"]</a>
        </div>
    </div>
</div>
